.basketball{
    background-image: url(./AdobeStock_398358801.jpeg);
    background-position: 50% 30%;
    background-size: cover ;
    height: 200px;
    width: 1720px;
    margin-left: 0px;
}
/* h1{
    font-family: cursive;
    color: white;
    font-size: 90px;
} */

body{
    background-image: url(./davon-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 500px;
    
    

    
    
    
    
    

    
}


/* .header{
    margin-top: 0px;
    /* margin-left: 0px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url(./aboutme.png); 
    
    background-position: 48% 70%;
    border: black groove 20px;
    background-color:black;
    opacity: .75;
   

} */
div{
    
    padding: 0px;
    width: 600px;
    height: 10px;
    margin-left: 500px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10px;
    width: 1660px; */
}

nav{
    
    color: white;
    text-shadow: #C2A792 1px 2px;
    margin-top: 00px;
    margin-left: 50px;
    margin-right: 00px;
    height: 140px;
    width: 1740px;
    /* border: white solid; */
}

nav li{
    display: inline;
    justify-content: space-between;
    padding: 15px;
    margin-left: 130px;
    
}

nav ul a{
    background-color: black;
    padding: 2px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    opacity: .75;
}

nav ul a:hover{
    color: #1f1f1f;
    background-color: white;
}

.bg{
    margin-top: 0px;
    /* margin-left: 0px; */
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./background.png);
    background-size: contain;
    padding: 0px;
    border: #1f1f1f solid;
    background-color: black ;
    opacity: .75;



}


.bg:hover{
    font-size: 0;

}

.bg:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
    background-color: #C2A792;


}
.education{
    margin-top: 100px;
    /* margin-left: 0px; */
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./education.png);
    background-size: contain;
    padding: 0px;
    background-color: black ;
    opacity: .75;

    /* border: #1f1f1f solid; */



}

.education:hover{
    font-size: 0;

}

.education:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
    background-color: #C2A792;

}
.career{
    margin-top: 100px;
    /* margin-left: 00px; */
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./career\ goals.png);
    background-size: contain;
    padding: 0px;
    background-color: black ;
    opacity: .75;

    /* border: #1f1f1f solid; */
    



}

.career:hover{
    font-size: 0;

}

.career:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
    background-color: #C2A792;

}
.personal_int{
    margin-top: 100px;
    /* margin-left: 00px; */
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./peronal_int.png);
    background-size: contain;
    padding: 0px;
    background-color: black ;
    opacity: .75;

    /* border: #1f1f1f solid; */



}

.personal_int:hover{
    font-size: 0;

}

.personal_int:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
    text-align: center;
    background-color: #C2A792;

}
